@charset "UTF-8";
.container {
  width: 100%;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
}
.container a:hover,
.container a:visited,
.container a:focus,
.container a:link {
  text-decoration: none;
  outline: none;
}
.container .banner_bcj {
  width: 100%;
  height: 3rem;
  border-top: 3px solid rgba(138, 138, 138, 0.2);
}
.container .banner_bcj .bcj_left {
  width: 2.7rem;
  height: 2.6rem;
  float: left;
  line-height: 2.6rem;
  padding: 0.16rem 0.1rem;
}
.container .banner_bcj .bcj_left img {
  width: 2.6rem;
  height: 2.6rem;
}
.container .banner_bcj .bcj_right {
  height: 2.6rem;
  overflow: hidden;
  padding: 0.16rem 0.2rem;
}
.container .banner_bcj .bcj_right .bcj_name {
  font-size: 0.28rem;
}
.container .banner_bcj .bcj_right .bcj_price {
  margin-top: 0.2rem;
}
.container .banner_bcj .bcj_right .bcj_price .price {
  color: red;
  font-size: 0.32rem;
}
.container .banner_bcj .bcj_right .bcj_price .oldPrice {
  text-decoration: line-through;
  font-size: 0.24rem;
}
.container .banner_bcj .bcj_right .bcj_process {
  margin-top: 0.4rem;
  width: 1.68rem;
  height: 0.28rem;
  background-color: #ffb7b7;
  border: 1px solid #fc353a;
  border-left: 3px solid #fc353a;
  border-radius: 0.14rem;
  position: relative;
}
.container .banner_bcj .bcj_right .bcj_process .percent {
  font-size: 0.24rem;
  position: absolute;
  top: -0.06rem;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}
.container .banner_bcj .bcj_right .bcj_process .get_num {
  font-size: 0.24rem;
  color: #fc353a;
  position: absolute;
  top: -0.06rem;
  right: -1.6rem;
}
.container .banner_bcj .bcj_right .bcj_discount_link {
  margin-top: 0.2rem;
}
.container .banner_bcj .bcj_right .bcj_discount_link .discount p {
  float: left;
  color: #fc353a;
  border: 1px dashed #fc353a;
}
.container .banner_bcj .bcj_right .bcj_discount_link .link {
  float: right;
}
.container .banner_bcj .bcj_right .bcj_discount_link .link a {
  display: block;
  width: 1.16rem;
  height: 0.56rem;
  background-color: #ff5e5d;
  color: #fff;
  font-size: 0.24rem;
  border-radius: 0.06rem;
  text-align: center;
  line-height: 0.46rem;
}
.container .mmb_footer {
  position: absolute;
  bottom: -2.4rem;
  width: 100%;
  height: 1.88rem;
  margin-top: 0.4rem;
  border-top: 1px solid #c4c4c4;
  z-index: 999;
}
.container .mmb_footer .footer_top a {
  height: 0.6rem;
  line-height: 0.6rem;
  float: left;
  width: 33.33%;
  text-align: center;
  font-size: 0.28rem;
  border-right: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}
.container .mmb_footer .footer_top a:last-child {
  border-right: none;
}
.container .mmb_footer .footer_foot {
  text-align: center;
  width: 100%;
  margin: 0.2rem;
}
.container .mmb_footer .footer_foot a:first-child {
  color: red;
  font-size: 0.28rem;
}
.container .mmb_footer .footer_foot a:nth-child(2) {
  font-size: 0.28rem;
}
.container .mmb_footer .footer_foot a:last-child {
  font-size: 0.24rem;
}
.container .mmb_footer .footer_foot p {
  font-size: 0.28rem;
}
.container .gotop {
  position: fixed;
  right: 0.2rem;
  bottom: 1.2rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}
.container .gotop i {
  display: block;
  font-size: 0.6rem;
  text-align: center;
  line-height: 0.8rem;
}
.mmb_header {
  width: 100%;
  height: 0.9rem;
  background-color: #f4483e;
  position: relative;
}
.mmb_header .header_logo,
.mmb_header .header_app {
  position: absolute;
  width: 1rem;
  height: 0.9rem;
}
.mmb_header .header_logo {
  top: 0;
  left: 0;
  margin: 0 auto;
}
.mmb_header .header_logo a {
  display: block;
  color: #fff;
  font-size: 0.6rem;
  text-align: center;
  line-height: 0.9rem;
  font-weight: 100;
}
.mmb_header .header_app {
  top: 0;
  right: 0;
}
.mmb_header .header_app img {
  width: 1rem;
  height: 0.9rem;
}
.mmb_header .bcj_title {
  height: 100%;
  margin: 0 1rem;
}
.mmb_header .bcj_title h4 {
  font-size: 0.4rem;
  font-weight: 700;
  text-align: center;
  line-height: 0.9rem;
  color: #fff;
}
.hot_sale {
  width: 100%;
  height: 0.8rem;
  background-color: #fff;
  position: relative;
}
.hot_sale ul {
  float: left;
}
.hot_sale ul li {
  margin: 0 auto;
}
.hot_sale ul a {
  display: block;
  color: #333;
  text-align: center;
  font-size: 0.28rem;
  border-bottom: 4px solid transparent;
}
.hot_sale .nav_search {
  width: 0.76rem;
  height: 0.76rem;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #ccc;
}
.hot_sale .nav_search img {
  width: 0.76rem;
  height: 0.76rem;
}
.hot_sale .mui-scroll-wrapper .mui-scroll .tabs li a.new {
  color: red;
  border-bottom: 4px solid red;
}
/* 初始化 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 12px/1.5 'Microsoft YaHei', '宋体', Tahoma, Arial, sans-serif;
  color: #555;
  background-color: #F7F7F7;
}
/*去除边框*/
fieldset,
img,
input,
button,
textarea {
  border: none;
  outline-style: none;
}
/*禁止表单域缩放*/
textarea {
  resize: none;
}
a {
  text-decoration: none;
  color: #969696;
  /* 取消链接高亮  */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 图片自适应 */
img {
  width: 100%;
  /*解决图片底部对其问题*/
  display: block;
  border: none;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}
em,
i {
  font-style: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*单行溢出*/
.one-txt-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*多行溢出*/
.txt-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* -webkit-line-clamp: 2; */
  -webkit-box-orient: vertical;
}
