@charset "UTF-8";
.container {
  width: 100%;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  a:hover, a:visited, a:focus, a:link {
    text-decoration: none;
    outline: none;
  }
.banner_bcj{
  width: 100%;
  height: 150/50rem;
  //background-color:linen;
  border-top: 3px solid rgba(138,138,138,0.2);
.bcj_left{
  width: 135/50rem;
  height: 130/50rem;
  float: left;
  line-height: 130/50rem;
  padding:8/50rem 5/50rem;
  img{
    width: 130/50rem;
    height: 130/50rem;
  }
}
  .bcj_right{
    height: 130/50rem;
    overflow: hidden;
    //background-color: lightblue;
    padding:8/50rem 10/50rem;
    .bcj_name{
      font-size: 14/50rem;
    };
    .bcj_price{
      margin-top:10rem/50;
      .price{
        color: red;
        font-size: 16/50rem;
      }
      .oldPrice{
        text-decoration: line-through;
        font-size: 12/50rem;
      }
    };
    .bcj_process{
      margin-top: 20/50rem;
      width:84/50rem;
      height:14/50rem;
      background-color: #ffb7b7;
      border:1px solid #fc353a;
      border-left:3px solid #fc353a;
      border-radius: 7/50rem;
      position: relative;
      .percent{
        font-size: 12/50rem;
        position: absolute;
        top:-3/50rem;;
        left:50%;
        transform: translateX(-50%);
        color: #fff;
      }
      .get_num {
        font-size: 12/50rem;
        color: #fc353a;
        position: absolute;
        top:-3/50rem;
        right:-80/50rem;
      }
    };
    .bcj_discount_link{
    margin-top: 10/50rem;
     .discount{

       p{
         float: left;
         color:#fc353a;
         border:1px dashed #fc353a;

       }
     }
      .link{
        float: right;
        a{
          display: block;
          width:58/50rem;
          height: 28/50rem;
          background-color: #ff5e5d;
          color: #fff;
          font-size: 12/50rem;
          border-radius: 3/50rem;
          text-align: center;
          line-height: 23/50rem;
        }
      }
    }
  }
};
  .mmb_footer{
    position: absolute;
    bottom:-120/50rem;
    width: 100%;
    height: 94/50rem;
    margin-top: 20/50rem;
    border-top:1px solid #c4c4c4;
    z-index: 999;
    .footer_top a{
      height: 30/50rem;
      line-height: 30rem/50;
      float: left;
      width:33.33%;
      text-align: center;
      font-size: 14/50rem;
      border-right:1px solid #c4c4c4;
      border-bottom: 1px solid #c4c4c4;
    }
    .footer_top a:last-child{
      border-right: none;
    }
    .footer_foot{
      text-align: center;
      width: 100%;
      margin:10rem/50;
      a:first-child{
        color:red;
        font-size: 14rem/50;
      }
      a:nth-child(2){
        font-size: 14rem/50;
      }
      a:last-child{
        font-size: 12rem/50;
      }
      p{
        font-size: 14rem/50;
      }
    }
  };
  .gotop{
    position: fixed;
    right:10/50rem;
    bottom:60/50rem;
    width: 40/50rem;
    height: 40/50rem;
    border-radius: 50%;
    background-color:rgba(0,0,0,0.4);
    z-index:999;
    i{
      display: block;
      font-size: 30/50rem;
      text-align: center;
      line-height: 40/50rem;
    }
  }
}
@import "baj_header";
@import "base";